<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title> {% if page.title %} {{ page.title }} | {% endif %} Galileo Robotics</title>


    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	  <meta name="msapplication-TileColor" content="#ffc40d">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/css/bootstrap-theme.min.css">-->
		<link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="/css/bootstrap-navbar.css">
	
</head>

<body>
  <!-- Fixed navbar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Galileo Robotics</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FRC Team 4669 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="">About Us</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Competitions <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/FRCCompetitions/2017.html">FRC 2017</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/FRCCompetitions/2016.html">FRC 2016</a></li>
                <li><a href="/FRCCompetitions/2015.html">FRC 2015</a></li>
                <li><a href="/FRCCompetitions/2014.html">FRC 2014</a></li>
              </ul>
            </li>
            <!--<li class="dropdown">
              <a href="/apcsa/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">AP CS A <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/apcsa/">APCSA Home</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/apcsa/about.html">About APCSA</a></li>
                <li><a href="/apcsa/allposts.html">All posts</a></li>
                <li><a href="/apcsa/postlist.html">Post list</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="https://csinquiry.slack.com" target="_blank">Slack</a></li>
                <li><a href="https://classroom.google.com" target="_blank">Google Classroom</a></li>
                <li><a href="https://github.com/" target="_blank">GitHub</a></li>
                <li><a href="https://beta.codenvy.com/dashboard" target="_blank">Codenvy</a></li>
                <li><a href="https://gradescope.com/" target="_blank">Gradescope</a></li>
              </ul>
            </li>-->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/resources/">Resources</a></li>
            <li><a href="/sponsors/">Sponsors</a></li>
            <li><a href="/contact/">Contact Us</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


  <div class="wrapper container">
  <div class= "row">
    <div class= "col-sm-3">
            <header>
            	<div>
                    <img src="/images/galileorobotics4669logoewebsite.svg"
                    data-fallback="/images/galileorobotics4669logoewebsite.png"
                    id="brandDesign"/>
            		<h4><a href="http://galileoweb.org">@ Galileo Academy of Science and Technology</a></h4>
                </div>
            </header>
        <hr id="TopDivider">
    </div>
    
    <div class= "col-sm-9">
        <section>
    
        {{ content }}
    
        </section>
    </div>
    </div>
    <footer>
	</footer>

  </div>

<script src="/javascripts/scale.fix.js"></script>
<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>
